<div class="card mb-6 mb-lg-8">
  <div class="card-header position-relative">
      <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-notifications" aria-controls="profile-settings-notifications" aria-expanded="true">
          <div class="row no-gutters align-items-center">
              <div class="col">
                  <h5>Notifications</h5>
                  <p>Update your profile details.</p>
              </div>
              <div class="col-auto">
                  <i class="text-muted icon-md fe-bell"></i>
              </div>
          </div>
      </a>
  </div>
  <div id="profile-settings-notifications" class="collapse show" data-parent="#profile-settings">
      <div class="card-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item pt-0 px-0">
                  <div class="d-flex align-items-center justify-content-between mb-2">
                      <h6 class="mb-0">Sound</h6>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="custom-switch-1">
                          <label class="custom-control-label" for="custom-switch-1"></label>
                      </div>
                  </div>
                  <p>Update your profile details.</p>
              </li>

              <li class="list-group-item px-0">
                  <div class="d-flex justify-content-between mb-2">
                      <h6 class="mb-0">Exceptions</h6>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="custom-switch-2">
                          <label class="custom-control-label" for="custom-switch-2"></label>
                      </div>
                  </div>
                  <p>Update your profile details.</p>
              </li>

              <li class="list-group-item px-0">
                  <div class="d-flex justify-content-between mb-2">
                      <h6 class="mb-0">Message preview</h6>

                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="custom-switch-3">
                          <label class="custom-control-label" for="custom-switch-3"></label>
                      </div>
                  </div>
                  <p>Update your profile details.</p>
              </li>

              <li class="list-group-item pb-0 px-0">
                  <div class="d-flex justify-content-between mb-2">
                      <h6 class="mb-0">Show notifications</h6>
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="custom-switch-4">
                          <label class="custom-control-label" for="custom-switch-4"></label>
                      </div>
                  </div>
                  <p>Update your profile details.</p>
              </li>
          </ul>
      </div>
  </div>
</div>
