<div class="sidebar">
  <div class="tab-content h-100" role="tablist">
      <%- include('sidebar/create-chat.ejs') %>

      <%- include('sidebar/friends.ejs') %>

      <%- include('sidebar/chats.ejs') %>

      <%- include('sidebar/profile.ejs') %>
  </div>
</div>
