<div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
  <div class="d-flex flex-column h-100">

      <div class="hide-scrollbar">
          <div class="container-fluid py-6">

              <!-- Title -->
              <h2 class="font-bold mb-6">Chats</h2>
              <!-- Title -->

              <!-- Search -->
              <form class="mb-6">
                  <div class="input-group">
                      <input type="text" class="form-control form-control-lg" placeholder="Search for friend from your contact list..." aria-label="Search for messages or users...">
                      <div class="input-group-append">
                          <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="button">
                              <i class="fe-search"></i>
                          </button>
                      </div>
                  </div>
              </form>
              <!-- Search -->

              <!-- Favourites -->
              <!-- <div class="text-center hide-scrollbar d-flex my-7" data-horizontal-scroll="">
                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm avatar-online mb-3">
                          <img class="avatar-img" src="images/2_002.jpg" alt="Image Description">
                      </div>
                      <div class="small">William</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm avatar-online mb-3">
                          <img class="avatar-img" src="images/3.jpg" alt="Image Description">
                      </div>
                      <div class="small">Simon</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm avatar-online mb-3">
                          <img class="avatar-img" src="images/4.jpg" alt="Image Description">
                      </div>
                      <div class="small">Thomas</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm avatar-online mb-3">
                          <img class="avatar-img" src="images/5.jpg" alt="Image Description">
                      </div>
                      <div class="small">Zane</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm mb-3">
                          <img class="avatar-img" src="images/6.jpg" alt="Image Description">
                      </div>
                      <div class="small">Thomas</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm mb-3">
                          <img class="avatar-img" src="images/7.jpg" alt="Image Description">
                      </div>
                      <div class="small">William</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm mb-3">
                          <img class="avatar-img" src="images/8.jpg" alt="Image Description">
                      </div>
                      <div class="small">Simon</div>
                  </a>

                  <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                      <div class="avatar avatar-sm mb-3">
                          <img class="avatar-img" src="images/9.jpg" alt="Image Description">
                      </div>
                      <div class="small">Thomas</div>
                  </a>
              </div> -->
              <!-- Favourites -->

              <!-- Chats -->
              <div id="list-discussions">
                <%- include('./sections/discussions') %>
              </div>
              <!-- Chats -->
          </div>
      </div>
  </div>
</div>
