<div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
  <div class="d-flex flex-column h-100">

      <div class="hide-scrollbar">
          <div class="container-fluid py-6">

              <!-- Title -->
              <h2 class="font-bold mb-6">Friends</h2>
              <!-- Title -->

              <!-- Tabs -->
              <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
                <li class="nav-item">
                    <a href="#new-friend-panel" class="nav-link new-friend-panel active" data-toggle="tab" role="tab" aria-selected="true">Find New Friends</a>
                </li>

                  <li class="nav-item">
                      <a href="#contact-panel" class="nav-link contact-panel" data-toggle="tab" role="tab" aria-selected="false">Contacts</a>
                  </li>
              </ul>
              <!-- Search -->
              <!-- Button -->
              <!-- <button type="button" class="btn btn-lg btn-block btn-secondary d-flex align-items-center mb-6" data-toggle="modal" data-target="#invite-friends">
                  Invite friends
                  <i class="fe-users ml-auto"></i>
              </button> -->
              <!-- Tabs -->
              <!-- Friends -->
              <div class="tab-content" role="tablist">
                <!-- Chat details -->
                <div id="new-friend-panel" class="tab-pane fade show active" role="tabpanel">
                  <!-- Search -->
                  <form class="mb-6">
                    <div class="input-group">
                        <input type="text" id="search-contact" class="form-control form-control-lg" placeholder="Search friends by name..." aria-label="Search for messages or users...">
                        <div class="input-group-append">
                            <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="button">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                  </form>
                  <div class="friend-list">
                    <div class="flex-column justify-content-center text-center">
                      <h6>Search results not found.</h6>
                    </div>
                  </div>
                </div>
                <div id="contact-panel" class="tab-pane fade" role="tabpanel">
                  <div class="contact-list">
                    <div class="flex-column justify-content-center text-center">
                      <h6>Contacts not found.</h6>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Friends -->
          </div>
      </div>

  </div>
</div>
